/*
   Fichier _variables.scss

   Ce fichier contient les variables Sass et Css pour le site web, telles que les couleurs, les polices, les tailles, etc. Il est utilisé pour la gestion centralisée des styles et la personnalisation facile du site.
*/

:root {
	--hue: 200;
	--sat: 50%;
	--lum: 50%;
}